[submodule "test/hailstone"]
	path = example/hailstone
	url = https://github.com/ryan-williams/hailstone_module.git
[submodule "example/factors"]
	path = example/factors
	url = https://gitlab.com/gsmo/examples/factors.git
[submodule "example/dind"]
	path = example/dind
	url = https://gitlab.com/gsmo/examples/dind.git
[submodule "example/submodules"]
	path = example/submodules
	url = https://gitlab.com/gsmo/examples/submodule-demo.git
