name: CI
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest utz[setup]==0.0.16
          pip install -e .
      - name: Test
        run: |
          pytest -v
  release:
    runs-on: ubuntu-latest
    needs: test
    if: "startsWith(github.ref, 'refs/tags/')"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install release dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine utz[setup]==0.0.16
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
